API_ID= 24196359
API_HASH=
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=mongodb+srv://MovieClub:MovieClub@cluster0.dau2bnj.mongodb.net/MovieClub?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=
STRING_SESSION=
DEEP_API=
COOKIE_URL=
API_URL=
API_KEY=
